<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Crop Image</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross Click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <!-- <div style="height: 350px; width: 200px;"> -->
      
    <image-cropper
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="4 / 3"
      [cropperStaticWidth]="150"
      [cropperStaticHeight] = "150"
      format="png"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
    <div class="d-flex justify-content-center">
      <img [src]="croppedImage" style="height: 90px; width:120px;" />
    </div>
  </div>
<!-- </div> -->
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save Click')"
    >
      Save
    </button>
  </div>
</ng-template>
<div class="contianer">
  <div class="row mt-5 ml-5">
    <input
      type="file"
      (change)="fileChangeEvent($event)"
      (change)="open(content)"
    />
    <!-- <pre>{{ closeResult }}
      </pre> -->
  </div>
</div>
<hr>

